@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}

#Desktop{

position: relative;
height: 4723px;
width: 2570px;
left: -709px;
top: 9px;
border-radius: 0px;


background-image: url(/imagens/telafundo.jpg);

}

#template_1{
    position: absolute;
    width: 1868px;
    height: 225px;
    left: 0px;
    top: -50px;

    background: #260341;
    border-radius: 27px;

}

#template_2{
    position: absolute;
    width: 1780px;
    height: 450px;
    top: 240px;
    left: 100px;
    background: #56009A;
    border-radius: 27px;

}

#Uva{

    position: absolute;
    width: 140px;
    height: 36px;
    left: 145px;
    top: 66px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    text-transform: capitalize;

    color: #E700FF;  

}

#Verde{
        position: absolute;
        width: 140px;
        height: 36px;
        left: 200px;
        top: 66px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 36px;
        text-transform: capitalize;
    
        color:rgba(11, 217, 4, 1)
    
}

#Sobre{

    position: absolute;
    width: 69px;
    height: 26px;
    left: 872px;
    top: 90px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;

}

#Ofertas{
    

    position: absolute;
    width: 71px;
    height: 26px;
    left: 1200px;
    top: 90px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;


}

#Inicio{   

    position: absolute;
    width: 50px;
    height: 26px;
    left: 546px;
    top: 90px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;

}
#Whats{

    position: absolute;
    left: 1580px;
    top: 74px;

}

#insta{
    position: absolute;
    left: 1640px;
    top: 74px;
    border-radius: 0px;

}

#face{
    
    position: absolute;
    left: 90.35%;
    right: 6.42%;
    top: 1.46%;
    bottom: 97.51%;

    height: 46.599998474121094px;
    width: 46.599998474121094px;
    left: 1701px;
    top: 74px;
    border-radius: 0px;

}

#txt{
    position: absolute;
    width: 520px;
    height: 26px;
    left: 150px;
    top: 320px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;
}

#txt_1{
    position: absolute;
    width: 650px;
    height: 26px;
    left: 150px;
    top: 352px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;
}

#txt_2{
    position: absolute;
    width: 680px;
    height: 26px;
    left: 150px;
    top: 410px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;
}


#txt_3{
    position: absolute;
    width: 680px;
    height: 26px;
    left: 150px;
    top: 472px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;
}

#txt_4{
    position: absolute;
    width: 680px;
    height: 26px;
    left: 150px;
    top: 532px;

    font-family: 'Voces';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;
}


#ri{
    position: absolute;
    width: 256px;
    height: 425px;
    left: 980px;
    top: 265px;

}

#ri1{
    position: absolute;
    width: 256px;
    height: 495px;
    left: 1300px;
    top: 225px;

}

#ri2{
    position: absolute;
    width: 256px;
    height: 495px;
    left: 1600px;
    top: 220px;

}


#template_3{

    position: absolute;
    width: 1891px;
    height: 629px;
    left: -323px;
    top: 741px;

    background: #4DDBD2;
    border-radius: 26px;

}

#ofertas{

    position: absolute;
    width: 147px;
    height: 36px;
    left: 112px;
    top: 802px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 1000;
    font-size: 52px;
    line-height: 36px;

    color: #FFFFFF;
}

#ofertas_1{

    position: absolute;
    width: 343px;
    height: 416px;
    left: 128px;
    top: 920px;

    border-radius: 51px;
}

#ofertas_2{

    position: absolute;
    width: 343px;
    height: 425px;
    left: 651px;
    top: 910px;

    border-radius: 59px;
    
}

#ofertas_3{

    position: absolute;
    width: 343px;
    height: 429px;
    left: 1160px;
    top: 910px;

    border-radius: 59px;

}

#tela_1{

    position: absolute;
    width: 343px;
    height: 425px;
    left: 1160px;
    top: 895px;

    background: #565656;
    border-radius: 57px;
}

#reta_1{

    position: absolute;
    width: 70px;
    height: 425px;
    left: 1158px;
    top: 895px;

    background: #F2DBAE;
    border-radius: 57px;
}

#tela_2{

    position: absolute;
    width: 343px;
    height: 425px;
    left: 651px;
    top: 895px;
    
    background: #565656;
    border-radius: 57px;
}

#reta_2{

    position: absolute;
    width: 70px;
    height: 425px;
    left: 649px;
    top: 895px;

    background: #ED6FFA;
    border-radius: 57px;
}

#tela_3{

    position: absolute;
    width: 343px;
    height: 425px;
    left: 128px;
    top: 895px;

    background: #565656;
    border-radius: 57px;
}

#reta_3{

    position: absolute;
    width: 70px;
    height: 425px;
    left: 126px;
    top: 895px;
    
    background: #03658C;
    border-radius: 57px;
}

#template_4{

    position: absolute;
    width: 1690px;
    height: 530px;
    left: 195px;
    top: 1442px;
    
    background: #ED6FFA;
    border-radius: 26px;

}

#meninas{

    
    position: absolute;
    width: 208px;
    height: 69px;
    left: 285px;
    top: 1427px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 52px;
    line-height: 69px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;

    mix-blend-mode: normal;
}

#meninas_1{

    position: absolute;
    width: 279px;
    height: 357px;
    left: 284px;
    top: 1559px;

    border-radius: 57px;

}

#meninas_2{
    
    position: absolute;
    width: 274px;
    height: 354px;
    left: 680px;
    top: 1566px;

    border-radius: 57px;
}

#meninas_3{
    
    position: absolute;
    width: 274px;
    height: 359px;
    left: 1080px;
    top: 1561px;


    border-radius: 57px;
}

#meninas_4{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 1482px;
    top: 1563px;

    border-radius: 57px;
}



#tela_4{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 285px;
    top: 1541px;
    
    background: #565656;
    border-radius: 57px;
}

#tela4_1{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 680px;
    top: 1541px;

    background: #565656;
    border-radius: 57px;
}

#tela4_2{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 1080px;
    top: 1541px;

    background: #565656;
    border-radius: 57px;
}

#tela4_3{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 1482px;
    top: 1537px;
    
    background: #565656;
    border-radius: 57px;
}

#template_5{
    
    position: absolute;
    width: 1891px;
    height: 547px;
    left: -323px;
    top: 2050px;

    background: #0A175C;
    border-radius: 26px;

}

#meninos{

    position: absolute;
    width: 210px;
    height: 69px;
    left: 85px;
    top: 2040px;
    
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 52px;
    line-height: 69px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #FFFFFF;
}

#meninos_1{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 80px;
    top: 2186px;


    border-radius: 57px;
}

#meninos_2{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 460px;
    top: 2186px;


    border-radius: 57px;
}

#meninos_3{

    position: absolute;
    width: 279px;
    height: 355px;
    left: 820px;
    top: 2186px;

    
    border-radius: 57px;
}

#meninos_4{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 1185px;
    top: 2186px;


    border-radius: 57px;
}


#tela_5{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 80px;
    top: 2170px;

    background: #565656;
    border-radius: 57px;
}

#tela5_1{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 460px;
    top: 2170px;

    background: #565656;
    border-radius: 57px;
}

#tela5_2{
    
    position: absolute;
    width: 279px;
    height: 359px;
    left: 820px;
    top: 2170px;

    background: #565656;
    border-radius: 57px;

}

#tela5_3{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 1185px;
    top: 2170px;

    background: #565656;
    border-radius: 57px;

}

#template_6{
    
    position: absolute;
    width: 1686px;
    height: 568px;
    left: 195px;
    top: 2670px;
    
    background: #F2D7AE;
    border-radius: 26px;
    transform: rotate(180deg);
}

#bebes{

    position: absolute;
    width: 157px;
    height: 69px;
    left: 285px;
    top: 2675px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 52px;
    line-height: 69px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;

}

#bebes_1{

    position: absolute;
    width: 279px;
    height: 359px;
    left: 283px;
    top: 2833px;

    border-radius: 57px;
}

#bebes_2{
 
    position: absolute;
    width: 279px;
    height: 365px;
    left: 678px;
    top: 2833px;

    border-radius: 57px;
}

#bebes_3{
    
    position: absolute;
    width: 279px;
    height: 355px;
    left: 1078px;
    top: 2840px;

    border-radius: 57px;
}

#bebes_4{
    
    position: absolute;
    width: 283px;
    height: 355px;
    left: 1480px;
    top: 2843px;

    border-radius: 57px;
}

#tela_6{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 285px;
    top: 2820px;
    
    background: #565656;
    border-radius: 57px;
}

#tela6_1{
    
    position: absolute;
    width: 274px;
    height: 359px;
    left: 680px;
    top: 2820px;
    
    background: #565656;
    border-radius: 57px;
}

#tela6_2{
    
    position: absolute;
    width: 274px;
    height: 359px;
    left: 1080px;
    top: 2820px;
    
    background: #565656;
    border-radius: 57px;
}

#tela6_3{
    
    position: absolute;
    width: 274px;
    height: 359px;
    left: 1482px;
    top: 2820px;
    
    background: #565656;
    border-radius: 57px;
}


#template_7{
    position: absolute;
    width: 1891px;
    height: 547px;
    left: -323px;
    top: 3320px;

    background: #ED8643;
    border-radius: 57px;
}

#calçados{
    position: absolute;
    width: 157px;
    height: 69px;
    left: 85px;
    top: 3320px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 52px;
    line-height: 69px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}

#conjuntos_1{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 85px;
    top: 3475px;


    border-radius: 57px;
}

#conjuntos_2{
    
    position: absolute;
    width: 296px;
    height: 359px;
    left: 425px;
    top: 3475px;
   
    border-radius: 57px;
}

#conjuntos_3{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 799px;
    top: 3475px;


    border-radius: 57px;
    
}

#conjuntos_4{

    position: absolute;
    width: 274px;
    height: 359px;
    left: 1174px;
    top: 3475px;

    border-radius: 57px;
    
}


#tela_7{
    position: absolute;
    width: 274px;
    height: 359px;
    left: 440px;
    top: 3460px;
    
    background: #565656;
    border-radius: 57px;
}

#tela7_1{
    position: absolute;
    width: 274px;
    height: 359px;
    left: 85px;
    top: 3460px;
    
    background: #565656;
    border-radius: 57px;
}

#tela7_2{
    position: absolute;
    width: 274px;
    height: 359px;
    left: 800px;
    top: 3460px;
    
    background: #565656;
    border-radius: 57px;
}

#tela7_3{
    position: absolute;
    width: 274px;
    height: 359px;
    left: 1175px;
    top: 3460px;
    
    background: #565656;
    border-radius: 57px;
}


#template_8{

    position: absolute;
    width: 1609px;
    height: 526px;
    left: 285px;
    top: 3930px;
    
    background: #9630B0;
    border-radius: 26px;
}

#info{

    position: absolute;
    width: 1319px;
    height: 89px;
    left: 360px;
    top: 3949px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-transform: capitalize;

    color: #FFFFFF;

}

#info_1{

    position: absolute;
    width: 1319px;
    height: 89px;
    left: 360px;
    top: 3979px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-transform: capitalize;

    color: #FFFFFF;

}

#info_2{

    position: absolute;
    width: 1319px;
    height: 89px;
    left: 360px;
    top: 4099px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-transform: capitalize;

    color: #FFFFFF;

}

#info_3{
        
    position: absolute;
    width: 435px;
    height: 53px;
    left: 355px;
    top: 4250px;
    
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #FFFFFF;
}


#info_4{
    position: absolute;
    width: 740px;
    height: 76px;
    left: 350px;
    top: 4340px;

}

#marca{
        
    position: absolute;
    width: 440px;
    height: 53px;
    left: 1155px;
    top: 4250px;

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    line-height: 53px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}

#template_9{

    position: absolute;
    width: 1870px;
    height: 206px;
    left: 0px;
    top: 4527px;
    
    background: #260341;
    border-radius: 27px 27px 0px 0px;
}



#marca9_1{

    position: absolute;
    width: 70px;
    height: 62px;
    left: 1150px;
    top: 4340px;

}

#marca9_2{

    position: absolute;
    width: 70px;
    height: 62px;
    left: 1250px;
    top: 4340px;

    
}

#marca9_3{

    position: absolute;
    width: 70px;
    height: 62px;
    left: 1350px;
    top: 4340px;

    
}

#marca9_4{

    position: absolute;
    width: 70px;
    height: 62px;
    left: 1450px;
    top: 4340px;

    
}

#uva{

    position: absolute;
    width: 184px;
    height: 61px;
    left: 880px;
    top: 4550px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize; 

    color: #E700FF;

}

#verde{

    position: absolute;
    width: 184px;
    height: 61px;
    left: 950px;
    top: 4550px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize; 

    color:  rgba(11, 217, 4, 1);

}

#txt_final{

    position: absolute;
    width: 1400px;
    height: 80px;
    left: 300px;
    top: 4640px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}


