.navbar_cor{

    /* navbar_cor */


    position: absolute;
    width: 2880px;
    height: 90px;
    left: 0px;
    top: 0px;

    background: #D9D9D9;
}

.navbar_img{

    /* navbar imagem_logo */

    position: absolute;
    left: 190.02px;
    top: 5px;

}

.navbar_text h3{

    /* Uva Verde */


    position: absolute;
    width: 191px;
    height: 22px;
    left: 260px;
    top: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_text h4{

    /* Compras online */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 262px;
    top: 46px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_info h1{

    /* navbar Contato */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 2592px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_info h2{

    /* navbar sobre */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 2420px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_info h3{

    /* navbar sobre */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 1100px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_clases h1{

    /* navbar crianças */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 2220px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_clases h2{

    /* navbar bebes */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 2055px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_clases h3{

    /* navbar meninos */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 1855px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_clases h4{

    /* navbar meninas */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 1655px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_clases h5{

    /* navbar calçados */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 1455px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}

.navbar_clases h6{

    /* navbar ofertas */


    position: absolute;
    width: 200px;
    height: 22px;
    left: 1275px;
    top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

}


